add_album_cover_flag: True

lyric_generation:
  ## genre of music to select from for generation of lyrics
  "Default": {
    artists: ["Shawn Mendes", "Harry Styles", "Ed Sheeran", "Taylor Swift", "Katy Perry", "Beatles", "Avril Lavigne","Black Sabbath", "Slipknot", "Imagine dragons", "Pink Floyd", "Eminem", "Tupac Shakur", ],
    temperature: 0.7,
    frequency_penalty: 0.5,
    max_tokens: 256
  }
  "Pop": {
    artists: ["Dua Lipa", "Shawn Mendes", "Harry Styles", "Ed Sheeran", "Taylor Swift", "Katy Perry"],
    temperature: 0.7,
    frequency_penalty: 0.7,
    max_tokens: 256
  }
  "Rock": {
    artists: ["Queens", "Beatles", "Avril Lavigne", "Imagine dragons", "Metallica", "Pink Floyd"],
    temperature: 0.6,
    frequency_penalty: 0.4,
    max_tokens: 256
  }
  "Rap": {
    artists:["Eminem", "Tupac Shakur", "Drake", "B.I.G"],
    temperature: 0.8,
    frequency_penalty: 0.6,
    max_tokens: 256
  }
  "Metal": {
    artists:["Black Sabbath", "Slipknot", "Korn", "System of a down"],
    temperature: 0.9,
    frequency_penalty: 0.2,
    max_tokens: 256
  }

  ## GPT3 model variant to use
  engine: "davinci"

  ## temperature for GPT3 model - helps in deciding how the model chooses from its next choice of tokens.
  ## Low temp -> produces more predictable output. High temp -> produces more creative output
  temperature: 0.7

  ## max_tokens to output for lyrics generation model (GPT3)
  max_tokens: 256

  ## frequency_penalty for lyrics generation model (GPT3)
  frequency_penalty: 0.3

album_cover_art:
  model_name: "prompthero/openjourney"
  model_version: "9936c2001faa2194a261c01381f90e65261879985476014a0a37a334593a05eb"

bg_music:
  max_pos_len: 4096
  pi_level: 2
  ignore_meta_loss: 1
  ratio: 4
  bpe: "_bpe"
  max_measure_cnt: 5
  max_chord_measure_cnt: 0
  midi_output_folder: "generated_audio/midi/"
  mp3_output_folder: "generated_audio/mp3/"
  wandb_project_name: "SymphonyNet"
  sampling_rate: 16000
  s3_bucket_name: "assemblyai-hackathon"