.app-root {
  height: 100vh;
}

.app-header-root {
  height: 6vh;
  display: flex;
  padding: 0% 2%;
  position: sticky;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  background: #000000;
  box-sizing: border-box;
}

.app-content-root {
  height: 94vh;
}

.dashboard-index-root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-index-box-root {
  width: 20%;
  display: flex;
  cursor: pointer;
  margin-right: 2%;
  align-items: center;
  flex-direction: column;
}

.dashboard-index-box-image {
  margin-bottom: 40px;
}

.dashboard-index-box-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard-index-box-content-text {
  padding: 0px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 10px;
}

.dashboard-index-box-content-description {
  width: 75%;
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/*Compose lyric css*/
.cl-root {
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f3fa;
}

.cl-root-inner {
  padding: 2%;
  /* height: 100%; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.cl-root-loading {
  padding: 2%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
 justify-content: center;
}

.cl-left-root {
  width: 35%;
  /* height: 100%; */
  display: flex;
  margin-right: 2%;
  flex-direction: column;
}

.cl-right-root {
  width: 35%;
  padding: 1%;
  /* height: 100%; */
  display: flex;
  margin-left: 2%;
  border-radius: 15px;
  flex-direction: column;
  background-color: #ffffff;
}

.cl-page-title {
  font-size: 24px;
  color: #2e2f49;
  font-weight: bold;
  margin-bottom: 3vh;
}

.cl-form-input-group {
  margin-bottom: 2vh;
}

.cl-form-input-title {
  color: #656a84;
  font-weight: bold;
  margin-bottom: 1vh;
}

.cl-form-input-subtitle{
  font-size: 12px;
  color: #a0a3b2;
  margin-bottom: 1vh;
}

.cl-input-textarea-root {
  width: 100%;
  height: 10vh;
}

.cl-input-textarea {
  padding: 0;
  width: 100%;
  height: 100%;
  resize: none;
  color: #999cad;
  border-radius: 5px;
}

.cl-submit {
  width: 100%;
  height: 5vh;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #0d2ed3;
}

.cl-submit:hover {
  transform: scale(1.04);
}

.cl-slider-root {
  width: 100%;
  display: flex;
}

.cl-slider-root-left {
  width: 88%;
  display: flex;
  margin-right: 2%;
  align-items: center;
  justify-content: center;
}

.cl-slider-root-right {
  width: 10%;
  height: 3vh;
  display: flex;
  color: #777b93;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #e9eaf0;
}

.cl-right-root-top {
  height: 95%;
  color: #484962;
  overflow-y: auto;
}

.cl-right-root-bottom {
  height: 5%;
  display: flex;
  justify-content: center;
}

.cl-right-root-bottom-copy {
  display: flex;
  cursor: pointer;
  align-items: end;
  color: #465fde;
}

.cl-choice-root {
  display: flex;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.cl-choice-root-box {
  width: 19%;
  height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #eeeff4;
}

.cl-choice-root-box-selected {
  width: 19%;
  height: 4vh;
  display: flex;
  cursor: pointer;
  color: #1b3ad6;
  align-items: center;
  justify-content: center;
  background-color: #eceefc;
  border: 1px solid #455edd;
}

.cl-error {
  color: orange;
  text-align: center;
  margin-bottom: 1vh;
}

/*Compose album css*/
.ca-choice-root {
  display: flex;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.ca-choice-root-box {
  width: 30%;
  height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #eeeff4;
}

.ca-choice-root-box-selected {
  width: 30%;
  height: 4vh;
  display: flex;
  cursor: pointer;
  color: #1b3ad6;
  align-items: center;
  justify-content: center;
  background-color: #eceefc;
  border: 1px solid #455edd;
}

.ca-imgpix-left {
  width: 49%;
  display: flex;
  margin-right: 1%;
  flex-direction: column;
}

.ca-imgpix-right {
  width: 49%;
  display: flex;
  margin-left: 1%;
  flex-direction: column;
}

.ca-image-root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.ca-image-root-box {
  width: 45%;
  height: 40%;
  display: flex;
  cursor: pointer;
}

.ca-image-root-box-selected {
  width: 45%;
  height: 40%;
  display: flex;
  cursor: pointer;
  border: 1px solid #455edd;
}

/*Compose bgmusic css*/
.cb-root {
  height: 100%;
}

.cb-root-inner {
  padding: 2%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.compose-bgmusic-radioContainer {
  display: flex;
  margin-bottom: 1%;
}

.compose-bgmusic-inputContainer {
  display: flex;
  margin-bottom: 2%;
  flex-direction: column;
}

.compose-bgmusic-outputContainer {
  display: flex;
  margin-bottom: 2%;
  flex-direction: column;
}

.compose-bgmusic-heading {
  margin-bottom: 1%;
}

/*Slider css*/
.slidecontainer {
  width: 100%;
}

.slider {
  
  width: 100%;
  height: 10px;
  opacity: 0.7;
  outline: none;
  border-radius: 5px;
  background: #d3d3d3;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-appearance: none;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  background: #0d2ed3;
  -webkit-appearance: none;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: #0d2ed3;
}